--prefer-binary
paddlepaddle-gpu
paddleocr
opencv-python==4.13.0.92
librosa==0.11.0
soundfile==0.13.1
transformers==5.0.0
accelerate==1.13.0
safetensors==0.7.0
anyascii
coqpit-config
einops
inflect
num2words
pysbd
monotonic-alignment-search
ko-speech-tools
loguru
PyYAML>=6.0.3,<6.1
