--prefer-binary
paddlepaddle-gpu
paddleocr
opencv-python
librosa
soundfile
transformers
accelerate
safetensors
anyascii
coqpit-config
einops
inflect
num2words
pysbd
monotonic-alignment-search
ko-speech-tools
loguru
PyYAML>=6.0.3,<6.1
